<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dexluthor.containermanager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>13630A92-E160-4C35-B928-DE1A871A004C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C24C078-358D-4663-AA2E-BC57A10E9679</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4018D77A-0A54-4EC4-A614-A53C44AE384F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6400BF8E-8F9D-486B-9055-827C720F5544</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2E9101A1-F243-4853-AB1E-8292AEE140E1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41021626-E50F-4667-BA12-2B2A65071ADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EAA36E7-E0AD-4445-A913-4D9F0470A96A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52756552-467E-4401-9FC8-50709FDD2B68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4767A663-1849-48BE-A3D4-39FCB1E585B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2B4CDB0-F398-4A2B-8DBF-FD197E44B61D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>21275B87-557A-4BB0-B0C4-D8A9C32D70C1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3609714-5CAF-4B83-9093-DCC914DF5396</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>06092DC2-EE8A-47A5-8447-238C0A5E1B0D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B36B28E-B337-48A7-B222-4619C5D1CD7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C3F7C283-49F0-4680-8476-1D7845E82411</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D8D8D7C-D497-4862-8536-5F1806439E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA8602E3-350C-4D3C-BE7F-2A8C965E82A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EAA36E7-E0AD-4445-A913-4D9F0470A96A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>553358E1-798B-4224-88B0-C299200E8D12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C89E338-87A4-45D7-A2C6-D83185BCE258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60489975-C242-44EA-9F96-714BA348E7C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B92D4086-FD0F-43A2-94E4-433E0B4D0559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6400BF8E-8F9D-486B-9055-827C720F5544</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C24C078-358D-4663-AA2E-BC57A10E9679</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA183430-8E2F-438A-B576-1588E7222344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B36B28E-B337-48A7-B222-4619C5D1CD7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C89510-36DA-471E-B9C4-E5534F31D9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>884E3A5A-B1DD-45F9-BD31-1A9AA2E723FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFF69E38-5FB0-438F-89DA-6B87FB954716</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96724315-CAB1-4136-96DE-523519D6755C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>884E3A5A-B1DD-45F9-BD31-1A9AA2E723FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89B6C709-84BD-456D-BC52-F0005E21E25D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B92D4086-FD0F-43A2-94E4-433E0B4D0559</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8079ECA-8032-4129-866A-04E5E24600C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B4CDB0-F398-4A2B-8DBF-FD197E44B61D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4018D77A-0A54-4EC4-A614-A53C44AE384F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy container ID: '{query}'</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8079ECA-8032-4129-866A-04E5E24600C2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Connect to the container's shell</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA183430-8E2F-438A-B576-1588E7222344</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C89E338-87A4-45D7-A2C6-D83185BCE258</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4F14AF3E-2DA8-43B7-ABD3-AEDBA41B7FF7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7604F66-B2FD-4440-8928-AAE96C7B8401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5C21C385-C198-4E66-A465-792D8A5C69D6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41021626-E50F-4667-BA12-2B2A65071ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A0487690-D7A6-4BFC-9B07-FADE60948C62</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>553358E1-798B-4224-88B0-C299200E8D12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B21655D5-369A-4392-B488-2DEA75AE10CE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96724315-CAB1-4136-96DE-523519D6755C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E4F6DBC1-D79B-4BDD-9E2E-291C1C3CAA8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60489975-C242-44EA-9F96-714BA348E7C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>29B34377-B3AA-4F40-B86C-2D0708465FEF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7604F66-B2FD-4440-8928-AAE96C7B8401</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA8602E3-350C-4D3C-BE7F-2A8C965E82A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4767A663-1849-48BE-A3D4-39FCB1E585B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3609714-5CAF-4B83-9093-DCC914DF5396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>DexLuthor</string>
	<key>description</key>
	<string>Helps running, stopping, deleting docker containers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Docker container manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>stop_all.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6400BF8E-8F9D-486B-9055-827C720F5544</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>CONTAINER="$2"

docker start "$CONTAINER" &gt; /dev/null
echo "Started $CONTAINER"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C89E338-87A4-45D7-A2C6-D83185BCE258</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>CONTAINER="$2"
docker stop "$CONTAINER" &gt; /dev/null
echo "Stopped $CONTAINER"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7604F66-B2FD-4440-8928-AAE96C7B8401</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>CONTAINER="$2"
docker rm -f "$CONTAINER" &gt; /dev/null
echo "Deleted '$CONTAINER'"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EAA36E7-E0AD-4445-A913-4D9F0470A96A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^start.+</string>
						<key>outputlabel</key>
						<string>Start</string>
						<key>uid</key>
						<string>4F14AF3E-2DA8-43B7-ABD3-AEDBA41B7FF7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^stop.+</string>
						<key>outputlabel</key>
						<string>Stop</string>
						<key>uid</key>
						<string>5C21C385-C198-4E66-A465-792D8A5C69D6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^delete.+</string>
						<key>outputlabel</key>
						<string>Delete</string>
						<key>uid</key>
						<string>A0487690-D7A6-4BFC-9B07-FADE60948C62</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^restart.+</string>
						<key>outputlabel</key>
						<string>Restart</string>
						<key>uid</key>
						<string>B21655D5-369A-4392-B488-2DEA75AE10CE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^logs.+</string>
						<key>outputlabel</key>
						<string>Logs</string>
						<key>uid</key>
						<string>E4F6DBC1-D79B-4BDD-9E2E-291C1C3CAA8D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^cli.+</string>
						<key>outputlabel</key>
						<string>CLI</string>
						<key>uid</key>
						<string>29B34377-B3AA-4F40-B86C-2D0708465FEF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CA183430-8E2F-438A-B576-1588E7222344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^stop-all.+</string>
						<key>outputlabel</key>
						<string>Stop all</string>
						<key>uid</key>
						<string>2E9101A1-F243-4853-AB1E-8292AEE140E1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4018D77A-0A54-4EC4-A614-A53C44AE384F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_container_actions.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Delete</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>You sure you want to delete this container?</string>
				<key>title</key>
				<string>Are you sure?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>41021626-E50F-4667-BA12-2B2A65071ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>6C24C078-358D-4663-AA2E-BC57A10E9679</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:containers_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_all_containers.sh</string>
				<key>subtext</key>
				<string>Manage docker containers</string>
				<key>title</key>
				<string>Docker</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2B4CDB0-F398-4A2B-8DBF-FD197E44B61D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>dkr</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>52756552-467E-4401-9FC8-50709FDD2B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>CONTAINER="$2"
docker restart "$CONTAINER" &gt; /dev/null
echo "Restarted '$CONTAINER'"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>553358E1-798B-4224-88B0-C299200E8D12</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied: '{query}'</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>89B6C709-84BD-456D-BC52-F0005E21E25D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Containers","arg":"containers"},{"title":"Monitoring","arg":"monitoring"},{"title":"Dockerhub","arg":"dockerhub"}]</string>
				<key>keyword</key>
				<string>dkr</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>4D8D8D7C-D497-4862-8536-5F1806439E12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>96724315-CAB1-4136-96DE-523519D6755C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:monitoring_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_stats.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Container statistics</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3609714-5CAF-4B83-9093-DCC914DF5396</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>logs,</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>884E3A5A-B1DD-45F9-BD31-1A9AA2E723FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>containers</string>
						<key>outputlabel</key>
						<string>containers</string>
						<key>uid</key>
						<string>21275B87-557A-4BB0-B0C4-D8A9C32D70C1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>monitoring</string>
						<key>outputlabel</key>
						<string>monitoring</string>
						<key>uid</key>
						<string>06092DC2-EE8A-47A5-8447-238C0A5E1B0D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:mode}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dockerhub</string>
						<key>outputlabel</key>
						<string>dockerhub</string>
						<key>uid</key>
						<string>C3F7C283-49F0-4680-8476-1D7845E82411</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4767A663-1849-48BE-A3D4-39FCB1E585B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string>get_container_logs.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>DFF69E38-5FB0-438F-89DA-6B87FB954716</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DA8602E3-350C-4D3C-BE7F-2A8C965E82A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>docker exec -it {query} /bin/bash
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>C8079ECA-8032-4129-866A-04E5E24600C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>query_dockerhub.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find in dockerhub</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B36B28E-B337-48A7-B222-4619C5D1CD7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54C89510-36DA-471E-B9C4-E5534F31D9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.joinargs</string>
			<key>uid</key>
			<string>60489975-C242-44EA-9F96-714BA348E7C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>cli,</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B92D4086-FD0F-43A2-94E4-433E0B4D0559</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows to efficently (re)start / stop / delete containers, browse dockerhub</string>
	<key>uidata</key>
	<dict>
		<key>13630A92-E160-4C35-B928-DE1A871A004C</key>
		<dict>
			<key>note</key>
			<string>Shows actions available for selected container</string>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>4018D77A-0A54-4EC4-A614-A53C44AE384F</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>41021626-E50F-4667-BA12-2B2A65071ADB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>You sure?</string>
			<key>xpos</key>
			<real>1782</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>4767A663-1849-48BE-A3D4-39FCB1E585B4</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>4D8D8D7C-D497-4862-8536-5F1806439E12</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>4EAA36E7-E0AD-4445-A913-4D9F0470A96A</key>
		<dict>
			<key>note</key>
			<string>Deletes a container</string>
			<key>xpos</key>
			<real>1965</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>52756552-467E-4401-9FC8-50709FDD2B68</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Goes back to Alfred</string>
			<key>xpos</key>
			<real>2005</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>54C89510-36DA-471E-B9C4-E5534F31D9F5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>553358E1-798B-4224-88B0-C299200E8D12</key>
		<dict>
			<key>note</key>
			<string>Restarts a container</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>5C89E338-87A4-45D7-A2C6-D83185BCE258</key>
		<dict>
			<key>note</key>
			<string>Starts a container</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>60489975-C242-44EA-9F96-714BA348E7C4</key>
		<dict>
			<key>xpos</key>
			<real>1565</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>6400BF8E-8F9D-486B-9055-827C720F5544</key>
		<dict>
			<key>note</key>
			<string>Stop all containers</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>6C24C078-358D-4663-AA2E-BC57A10E9679</key>
		<dict>
			<key>note</key>
			<string>Splits "command,23d26as" into 2 arguments
E.g.
"start,23d26as" =&gt; $1=start $2=23d23as</string>
			<key>xpos</key>
			<real>1035</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>7B36B28E-B337-48A7-B222-4619C5D1CD7E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Fetch images from docker hub and/or github container registry</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>884E3A5A-B1DD-45F9-BD31-1A9AA2E723FE</key>
		<dict>
			<key>note</key>
			<string>The input here is 'cli,container_id'.
This node will cut off 'cli,' chunk, because terminal runner on the right needs only a container id</string>
			<key>xpos</key>
			<real>1660</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>89B6C709-84BD-456D-BC52-F0005E21E25D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>96724315-CAB1-4136-96DE-523519D6755C</key>
		<dict>
			<key>xpos</key>
			<real>1565</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>B92D4086-FD0F-43A2-94E4-433E0B4D0559</key>
		<dict>
			<key>note</key>
			<string>The input here is 'cli,container_id'.
This node will cut off 'cli,' chunk, because terminal runner on the right needs only a container id</string>
			<key>xpos</key>
			<real>1660</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>C2B4CDB0-F398-4A2B-8DBF-FD197E44B61D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Lists all available containers upon typing the keyword</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>C8079ECA-8032-4129-866A-04E5E24600C2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Pop up terminal and connect to the container</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>765</real>
		</dict>
		<key>CA183430-8E2F-438A-B576-1588E7222344</key>
		<dict>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>D7604F66-B2FD-4440-8928-AAE96C7B8401</key>
		<dict>
			<key>note</key>
			<string>Stops a container</string>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>2265</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>DA8602E3-350C-4D3C-BE7F-2A8C965E82A5</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>DFF69E38-5FB0-438F-89DA-6B87FB954716</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1750</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>F3609714-5CAF-4B83-9093-DCC914DF5396</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</key>
		<dict>
			<key>note</key>
			<string>Copy container ID on holding ⌥</string>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>conts</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for direct access</string>
			<key>label</key>
			<string>Containers</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>containers_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>monitoring</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword for direct access</string>
			<key>label</key>
			<string>Monitoring</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>monitoring_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/DexLuthor/docker-container-manager</string>
</dict>
</plist>
