<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dexluthor.containermanager</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>13630A92-E160-4C35-B928-DE1A871A004C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C24C078-358D-4663-AA2E-BC57A10E9679</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41021626-E50F-4667-BA12-2B2A65071ADB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52756552-467E-4401-9FC8-50709FDD2B68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C440EC3-99EF-45C5-ADB7-BC7E5BE8E65F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C24C078-358D-4663-AA2E-BC57A10E9679</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA183430-8E2F-438A-B576-1588E7222344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C440EC3-99EF-45C5-ADB7-BC7E5BE8E65F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D329E13-F7D3-4DEE-85DA-75EAD5E0A711</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy container ID: {query}</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBADAF94-E75C-4633-88C6-210D9A5A5C1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3609714-5CAF-4B83-9093-DCC914DF5396</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B36B28E-B337-48A7-B222-4619C5D1CD7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54C89510-36DA-471E-B9C4-E5534F31D9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBADAF94-E75C-4633-88C6-210D9A5A5C1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB2DAC08-7BB2-4A7C-BEDA-0AC10FF1C789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA183430-8E2F-438A-B576-1588E7222344</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41021626-E50F-4667-BA12-2B2A65071ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A0487690-D7A6-4BFC-9B07-FADE60948C62</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C440EC3-99EF-45C5-ADB7-BC7E5BE8E65F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>DexLuthor</string>
	<key>description</key>
	<string>Helps running, stopping, deleting docker containers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Docker container manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Delete</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>You sure you want to delete this container?</string>
				<key>title</key>
				<string>Are you sure?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>41021626-E50F-4667-BA12-2B2A65071ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>dkr</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>52756552-467E-4401-9FC8-50709FDD2B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dkr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_all_containers.sh</string>
				<key>subtext</key>
				<string>Manage docker containers</string>
				<key>title</key>
				<string>Docker</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D329E13-F7D3-4DEE-85DA-75EAD5E0A711</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_container_actions.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>13630A92-E160-4C35-B928-DE1A871A004C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>execute_action.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C440EC3-99EF-45C5-ADB7-BC7E5BE8E65F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Container Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^delete.+</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>A0487690-D7A6-4BFC-9B07-FADE60948C62</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CA183430-8E2F-438A-B576-1588E7222344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>6C24C078-358D-4663-AA2E-BC57A10E9679</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dkr stop-all</string>
				<key>subtext</key>
				<string>Stops all running containers</string>
				<key>text</key>
				<string>Stop the world</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BBADAF94-E75C-4633-88C6-210D9A5A5C1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>docker stop $(docker ps -q)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB2DAC08-7BB2-4A7C-BEDA-0AC10FF1C789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dkr stats</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>get_stats.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Container statistics</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3609714-5CAF-4B83-9093-DCC914DF5396</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>54C89510-36DA-471E-B9C4-E5534F31D9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading..</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>query_dockerhub.sh</string>
				<key>subtext</key>
				<string>Manage docker containers</string>
				<key>title</key>
				<string>Find in dockerhub</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B36B28E-B337-48A7-B222-4619C5D1CD7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow allows to efficently (re)start / stop / delete containers, browse dockerhub</string>
	<key>uidata</key>
	<dict>
		<key>13630A92-E160-4C35-B928-DE1A871A004C</key>
		<dict>
			<key>note</key>
			<string>Shows actions available for selected container</string>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>41021626-E50F-4667-BA12-2B2A65071ADB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>You sure?</string>
			<key>xpos</key>
			<real>942</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>52756552-467E-4401-9FC8-50709FDD2B68</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Goes back to Alfred</string>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>54C89510-36DA-471E-B9C4-E5534F31D9F5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>6C24C078-358D-4663-AA2E-BC57A10E9679</key>
		<dict>
			<key>note</key>
			<string>Splits "command,23d26as" into 2 arguments
E.g.
"start,23d26as" =&gt; $1=start $2=23d23as</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6C440EC3-99EF-45C5-ADB7-BC7E5BE8E65F</key>
		<dict>
			<key>note</key>
			<string>Executes selected action</string>
			<key>xpos</key>
			<real>1250</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>6D329E13-F7D3-4DEE-85DA-75EAD5E0A711</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Lists all available containers upon typing the keyword</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>7B36B28E-B337-48A7-B222-4619C5D1CD7E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Fetch images from docker hub and/or github container registry</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>A33B3B27-81BC-4942-9DF4-4B9259BF1B99</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>BBADAF94-E75C-4633-88C6-210D9A5A5C1D</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>CA183430-8E2F-438A-B576-1588E7222344</key>
		<dict>
			<key>note</key>
			<string>Prompt when deleting</string>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>DA56A795-9C5D-43BF-9BCA-2594C5366EFA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1425</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>DB2DAC08-7BB2-4A7C-BEDA-0AC10FF1C789</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>F3609714-5CAF-4B83-9093-DCC914DF5396</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>F44EEEE6-69C5-4C4F-B859-F37FC7AD35EE</key>
		<dict>
			<key>note</key>
			<string>Copy container ID on holding ⌥</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/DexLuthor/docker-container-manager</string>
</dict>
</plist>
